<section class="about"> 
   
     <div class="about-title pt-5">

        <h1 class="text-center text-white"> ABOUT COMPONENT </h1>

     </div>

     <ul class="list-unstyled d-flex justify-content-center align-items-center pb-5">

        <li> <span class="line"></span> </li>

        <li class="mx-2">   <i class="fa-solid fa-star text-white"></i>  </li>

        <li> <span class="line"></span> </li>


    </ul>

    <div class="container py-5">

        <div class="row">

            <div class="col-md-6">
            
                <div class="about-info text-white">


                    <p> Freelancer is a free bootstrap theme created by Route. The download includes the complete source files including HTML, CSS, and JavaScript as well as optional SASS stylesheets for easy customization.

                    </p>


                </div>
                     

            </div>

            <div class="col-md-6">
            
                <div class="about-info text-white">


                    <p> Freelancer is a free bootstrap theme created by Route. The download includes the complete source files including HTML, CSS, and JavaScript as well as optional SASS stylesheets for easy customization.

                    </p>


                </div>
                     

            </div>

        </div>


    </div>
 
 </section>