<section class="contact"> 

    <div class="contact-title text-center">

        <h1> CONATCT SECTION </h1>
    
    
       </div>

       
   <ul class="list-unstyled d-flex justify-content-center align-items-center pb-5">

    <li> <span class="line"></span> </li>

    <li class="mx-2">   <i class="fa-solid fa-star"></i>  </li>

    <li> <span class="line"></span> </li>


</ul>

<div class="container">

    <form class="w-50 mx-auto">

        <div class="name">

            <input type="text" class="form-control w-100 p-2 border-0 border-bottom" placeholder="userName">


        </div>

        <div class="age">

            <input type="number" class="form-control w-100 my-5 p-2 border-0 border-bottom" placeholder="userAge">


        </div>

        <div class="email">

            <input type="email" class="form-control w-100 my-5 p-2 border-0 border-bottom" placeholder="userEmail">


        </div>

        <div class="password">

            <input type="password" class="form-control w-100 p-2 border-0 border-bottom my-4" placeholder="userPassword">


        </div>


        <button class="btn btn-success"> send Message </button>

    
    
    
    </form>


</div>



    
 
 </section>
