<section class="portfolio"> 

   <div class="port-title text-center">

    <h1> PORTFOLIO COMPONENT</h1>


   </div>


   <ul class="list-unstyled d-flex justify-content-center align-items-center pb-5">

    <li> <span class="line"></span> </li>

    <li class="mx-2">   <i class="fa-solid fa-star"></i>  </li>

    <li> <span class="line"></span> </li>


</ul>


   <div class="container">

    <div class="row gy-5">

        <div class="col-md-4">

            <div (click)="showImage(images[0])" class="port1">

                <img class="w-100 rounded-2" [src]="images[0]" alt="">

                <div class="layer rounded-2 d-flex justify-content-center align-items-center">

                    <i class="fa-solid fa-plus"></i>
     

                </div>


            </div>

          


        </div>
       
        <div class="col-md-4">

            <div (click)="showImage(images[1])" class="port2">

                <img class="w-100 rounded-2" [src]="images[1]" alt="">

                <div class="layer rounded-2 d-flex justify-content-center align-items-center">

                    <i class="fa-solid fa-plus"></i>
     

                </div>


            </div>


    

        </div>

        <div class="col-md-4">

            <div (click)="showImage(images[2])" class="port3">

                <img class="w-100 rounded-2" [src]="images[2]" alt="">

                <div class="layer rounded-2 d-flex justify-content-center align-items-center">

                    <i class="fa-solid fa-plus"></i>
     

                </div>


            </div>


        </div>


        <div class="col-md-4">

            <div (click)="showImage(images[0])" class="port1">

                <img class="w-100 rounded-2" [src]="images[0]" alt="">

                <div class="layer rounded-2 d-flex justify-content-center align-items-center">

                    <i class="fa-solid fa-plus"></i>
     

                </div>


            </div>


        </div>

        
        <div class="col-md-4">

            <div (click)="showImage(images[1])" class="port2">

                <img class="w-100 rounded-2" [src]="images[1]" alt="">

                <div class="layer rounded-2 d-flex justify-content-center align-items-center">

                    <i class="fa-solid fa-plus"></i>
     

                </div>


            </div>


    

        </div>

        <div class="col-md-4">

            <div (click)="showImage(images[2])" class="port3">

                <img class="w-100 rounded-2" [src]="images[2]" alt="">

                <div class="layer rounded-2 d-flex justify-content-center align-items-center">

                    <i class="fa-solid fa-plus"></i>
     

                </div>


            </div>


        </div>


    </div>


   </div>
 
 </section>