<section class="home"> 

<div class="home-info d-flex justify-content-center align-items-center flex-column text-white">

    <div class="home-img py-5">
     
        <img src="./assets/images/avataaars.svg" alt="home">

    </div>

    <div class="home-title">
          
        <h1> START FRAMEWORK </h1>

    </div>

    <ul class="list-unstyled d-flex justify-content-center align-items-center">

        <li> <span class="line"></span> </li>

        <li class="mx-2">   <i class="fa-solid fa-star"></i>  </li>

        <li> <span class="line"></span> </li>


    </ul>

    <div class="home-parag py-5">

        <p> Graphic Artist - Web Designer - Illustrator </p>

    </div>



</div>


</section>